body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}
h1 {
    color: #333;
}
input[type="text"] {
    padding: 10px;
    margin: 10px;
    width: 300px;
}
button {
    background-color: #1b1c1d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
